.DS_Store
*/node_modules
*/build
*/.svelte-kit
*/package-lock.json
*/bun.lockb
*.env
*.env.*
!.env.example
*/.vercel
*/.output
*/vite.config.js.timestamp-*
*/vite.config.ts.timestamp-*
*/.idea/
.vscode/

*/deno.lock
deno.lock